/* src/app/pages/dashboard/dashboard.scss */
.full-width {
  width: 100%;
}

h2 {
  margin: 1rem 0;
}
/* src/app/pages/dashboard/dashboard.scss */
table {
  width: 100%;
}
th, td {
  padding: 0.5rem 1rem;
}
